.payment_section {
    border-radius: 8px;
    border: 1px solid #EBE5E5;
    background: #fff;
    backdrop-filter: blur(4px);
    display: flex;
    padding: 35px 28px;
    flex: 1 0 0;
}

.pay_btn_style {
    display: flex;
    height: 52px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
    background: #350ABC;
    width: 100%;
    color: #F3F0FF;
}

.min_time_error_style {
    border-radius: 4px;
    border: 1px solid #FFF4F4;
    background: #FFFAFA;
    display: inline-flex;
    padding: 8px;
    justify-content: start;
    align-items: center;
    gap: 20px;
    color: #C20000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.28px;
  }
.card_details {
    position: absolute;
    color: #000;
    top: -23%;
    left: 2%;
    font-size: 12px;
    padding: 2px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.28px;
    margin-bottom: 8px;
    background-color: #fff;
}

.card_holder {
    position: absolute;
    color: #000;
    top: -22%;
    left: 2%;
    font-size: 12px;
    padding: 2px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.28px;
    margin-bottom: 8px;
    background-color: #fff;
}